html {
    margin:0;
   padding:0;
   height:100%;
    
}


body {
     height:100%;
    margin: 0px;
    background-color: #18183b;
    color: white;
    font-family: 'Open Sans', Helvitica, Ariel, sans-serif;
    
    

}

footer {
    height:60px;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


h1 {
    text-align: center;
    font-family: 'Lobster', cursive;
    word-spacing: 2px;
    letter-spacing: 2px;
    color: white;
    line-height: 30px;

}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 0px;
    padding: 10px;
    
}


.heading {
    font-family: 'Open Sans', Helvitica, Ariel, sans-serif;
    padding: 10px 10px 0px 20px;
    text-decoration: none;
    font-variant: small-caps;
    font-size: 20px;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
     -webkit-animation-duration:1s;
     animation-duration:1s;
    animation: fadeInUp 1; 
     -webkit-animation: fadeInUp 1s;
     
}

#hello {
    padding-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0px;
    color: rgb(185, 98, 98);
    text-shadow: 2px 2px #072576;
    line-height: 30px;
    font-size: 55px;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
     -webkit-animation-duration:1s;
     animation-duration:1s;
    animation: fadeInUp 1; 
     -webkit-animation: fadeInUp 1s;
     
}

#name {
    font-size: 40px;
     -webkit-transition-timing-function: ease-in;
     transition-timing-function: ease-in;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
     -webkit-animation-duration:1s;
     animation-duration:1s;
    animation: fadeInUp 1; 
     -webkit-animation: fadeInUp 1s;
}

.top {
    background-color: slategrey;
    background-image: url(/images/code-glow.jpg);
    background-position: center;
    width: auto;
    height: 500px;
    background-size: cover;
    margin: 0px;
    -webkit-transition-timing-function: ease-in 1;
    transition-timing-function: ease-in 1;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
     -webkit-animation-duration:1s;
     animation-duration:1s;
    -webkit-animation-delay: .25s;
    animation-delay: .25s;
     -webkit-animation: fadeInUp 1s;
    animation: fadeInUp 1s; /* Fading effect takes 1 second */


}



.links {
    text-decoration: none;
}

a:visited,
a:link {
    color: white;
}

a:hover {
    color: #fc830b;
}

.fa-li,
li {
    padding: 5px;
}

.intro {
    background: rgba(76, 64, 216, 0.46);
    margin: 0px;
    width: auto;
    height: 500px;
    
}

.logo {
 
    background-image: url(/images/logokwel.png);
    background-repeat: no-repeat;
    background-position:top;
    background-size: contain;
    width: 100px;
    height: 60px;
    padding: 0px;
    

   -webkit-transition-timing-function: ease-in;
    

   transition-timing-function: ease-in;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
     -webkit-animation-duration:1.5s;
     animation-duration:1.5s;
    animation: fadeInUp 1.5; 
     -webkit-animation: fadeInUp 1.5s;
   
}

.below {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
   -webkit-box-align:start;
   -ms-flex-align:start;
   align-items:flex-start;
    margin: 0;
    width: auto;
    padding: 0px;
   min-height:100%;
   position:relative;
     -webkit-transition-timing-function: ease-in 1;
     transition-timing-function: ease-in 1;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
     -webkit-animation-duration:1s;
     animation-duration:1s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
     -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

.about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 1;
    color: white;
}

.myphoto {
    background: url(/images/karenw.jpg) no-repeat center;
    background-size: cover;
    width: 200px;
    height: 200px;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    margin-right: 0px;
     -webkit-transition-timing-function: ease-in;
     transition-timing-function: ease-in;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
     -webkit-animation-duration:1.5s;
     animation-duration:1.5s;
    animation: fadeInUp 1.5; 
     -webkit-animation: fadeInUp 1.5s;
}

.contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 10px;
}

.dev {
    color: white;
    text-align: center;
    font-family: 'Open Sans',Helvitica, Ariel, sans-serif;
    letter-spacing: 1px;
    word-spacing: normal;
    font-size: 24px;
}

#polling {
    background-color: #2a1c40;
    background-image: url(/images/NRHphone.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 710px;
    height: 200px;
    background-size: contain;

}

#spa {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    background-color: #2a1c40;
    -ms-flex-item-align: start;
    align-self: flex-start;


}

#m-spa {
    width: 250px;
    height: 250px;
    background-image: url(/images/SDmobile.png);
   background-color: #2a1c40;
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    
    
}

#w-spa {
    width: 656px;
    height: 200px;
    background-image: url(/images/SDscreenshot-web.jpg);
    background-color: #2a1c40;
    background-repeat: no-repeat;
    background-position: bottom;
   padding: 15px;
    background-size:contain;
    
}
.proj-title {
    background-color: rgb(181, 181, 181);
    margin: 0px;
    padding: 20px 0px;
    color: #525252;
    border-radius: 10px 10px 0 0;
}


.button-grp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
     background-color: #191026;
    padding: 20px;
    
}

#project-list {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
   margin-top:50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    overflow: auto;
   
}

#project-list h2 {
    font-variant-caps: all-small-caps;
    letter-spacing: 3px;
    font-size: 30px;
    color: white;
     margin: 0 0 20px 0;
    background: rgba(76, 64, 216, 0.5);
      border: 2px dashed #999;
/* background: linear-gradient(to top, #6600cc 0%, #4c40d8 100%); 2nd Choice*/
       padding:40px 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        text-align: center;
    border-radius: 5px;
    
 

}

.project {
/*   background-color: #6c6a6f; 2nd choice*/
   background: rgba(76, 64, 216, 0.46);
   
    color: #ffffff;
    padding: 18px;
    width: 350px;
    text-align: center;

    border: 0;
    font-size: 22px;
    margin:2px 0;
    
    


}

button.project.active,
button.project:hover {
    cursor: pointer;
    border: 2px solid #4c2180;
    background-color: #11115c;
    color: rgb(185, 98, 98);
    -webkit-transition-timing-function: ease-in-out 5s;
    transition-timing-function: ease-in-out 5s;
    overflow: hidden;
}

.project-item {

    margin: 0;
    padding: 0 10px;
    background-color: white;
    color: #0b0b0b;
    width: 710px;
    margin-bottom: 0px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.inside {
    background-color: rgb(105, 98, 185);
    color: #ffffff;
    padding: 5px;
    width: 300px;
    text-align: center;
    border: none;
    outline: none;
    margin-bottom: 20px;
    font-size: 20px;
    padding: 10px;
    margin: 0 10px;

}

.inside:hover {

    background-color: rgb(66, 62, 118);

}

footer {
    background-color: #121214;
    margin-top: 30px;
    margin-bottom: 0px;
}

div.project-item {
    display: none;
    text-align: justify;
    padding: 40px;
    -webkit-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
}

.credits {
    padding: 10px;
    font-size: 12px;
    color: grey;
}

.credits a:hover {
    color: rgb(185, 98, 98);

}

.credits a {
    color: #959292;
}

/* Documentaion Styles */

.intro-2 {
    background: rgba(76, 64, 216, 0.46);
    margin: 0px;
    width: auto;
    height: 500px;
}




.nrh-indepth {
    width: 700px;
    background-color: rgb(223, 221, 226);
    color: black;
    padding: 40px;
    margin-top: 10px;

}

.nrh-indepth p {
    line-height: 30px;
}

.nrh-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

}

#tutorial {
    text-decoration: underline;
    cursor: pointer;
    color: black;
}


.ref {
    font-size: 20px;
    line-height: normal;
    font-style: italic;
    font-variant-caps: all-petite-caps;
    list-style: circle;
    padding: 0px 55px;

}

.appendix a {
    
    font-size: 24px;
}

.back {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 5px;
}

/* Media Queries */

@media screen and (max-width: 480px) {
    body {
        height: auto;
        width: auto;
    }
    #name {
        font-size: 30px;
    }

    #hello {
        font-size: 40px;
    }
    footer {
        margin: 0px;

    }
    
    .button-grp {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    
    .inside {
        margin: 5px 0;
        width: 250px;
    }
    .myphoto {
        width: 130px;
        height: 130px;
    }
    .intro,
    .top {
        height: 400px;
    }
    .project-item {
        width: 300px;
    }
    #project-list {
        margin-bottom: 50px;
    }
    #spa {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 300px;
        
    }
    
    
    
    #polling {
        width: 300px;
    }
    
    #m-spa {
        width: 200px;
        height: 200px;
        background-size: cover;
        background-position: top;
        
    }
    
    #w-spa {
        height: 100px;
        width: 250px;
    }
    
    .nrh-container,
    .nrh-indepth {
        width: 400px;
    }
    .intro-2 {
        min-width: 600px;

    }
    footer {
        margin: 0px;

    }
}
