html {
   
margin: 0;


}


body {
    
 display: block;
width: 100vw;

    padding:0;

background-color: #18183b;
    margin: 32px;




}

.site_wrapper {
    width: 100vw;
    height: 100%;
    margin: auto;
   
    color: white;
    font-family: 'Open Sans', Helvitica, Ariel, sans-serif;
    padding: 0;
}

footer {
    height: 60px;
    width: 100%;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}


h1 {
    text-align: center;
    font-family: 'Lobster', cursive;
    word-spacing: 2px;
    letter-spacing: 2px;
    color: white;
    line-height: 30px;

}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
    width: auto;

}


.heading {
    font-family: 'Open Sans', Helvitica, Ariel, sans-serif;
    padding: 10px 10px 0px 20px;
    text-decoration: none;
    font-variant: small-caps;
    font-size: 20px;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation: fadeInUp 1;
    -webkit-animation: fadeInUp 1s;

}

#hello {
    padding-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0px;
    color: rgb(185, 98, 98);
    text-shadow: 2px 2px #072576;
    line-height: 30px;
    font-size: 55px;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation: fadeInUp 1;
    -webkit-animation: fadeInUp 1s;

}

#name {
    font-size: 40px;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation: fadeInUp 1;
    -webkit-animation: fadeInUp 1s;
}

.topkw {

    background-color: slategrey;
    background-image: url(/images/code-glow.jpg);
    background-position: center;
    width: 100%;
    
    height: 500px;
    background-size: cover;
 
    margin: 0;
    -webkit-transition-timing-function: ease-in 1;
    transition-timing-function: ease-in 1;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: .25s;
    animation-delay: .25s;
    -webkit-animation: fadeInUp 1s;
    animation: fadeInUp 1s;
    /* Fading effect takes 1 second */
}



.links {
    text-decoration: none;
}

a:visited,
a:link {
    color: white;
}

a:hover {
    color: #fc830b;
}

.fa-li,
li {
    padding: 5px;
}

.introkw {
    background: rgba(76, 64, 216, 0.46);
    margin: 0;
    width: 100%;
    height: auto;
    padding: 3rem 1.5rem;

    



}

.logo {

    background-image: url(/images/logokwel.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    width: 100px;
    height: 60px;
    padding: 0px;


    -webkit-transition-timing-function: ease-in;


    transition-timing-function: ease-in;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    animation: fadeInUp 1.5;
    -webkit-animation: fadeInUp 1.5s;

}

.below {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: 0;
    width: auto;
    padding: 0px;
    min-height: 100%;
    position: relative;
    -webkit-transition-timing-function: ease-in 1;
    transition-timing-function: ease-in 1;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
    /* Fading effect takes 1 second */
}

.mylinkssection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 1;
    color: white;
}

.myphoto {
    background: url(/images/karenw.jpg) no-repeat center;
    background-size: cover;
    width: 200px;
    height: 200px;
    border: white double 5px;
    border-radius: 50%;
    margin-right: 0px;

    z-index: 2;
    position: relative;
}

.myphoto::after {
    content: " ";
    border: #4705af double 8px;
    margin: -15px;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;


}



.contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 10px;
}

.dev {
    color: white;
    text-align: center;
    font-family: 'Open Sans', Helvitica, Ariel, sans-serif;
    letter-spacing: 1px;
    word-spacing: normal;
    font-size: 24px;

}

.allaboutme_container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;


}

.edu_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;


}



.speechbubble {
    padding: 1px 35px;
    margin-bottom: 18px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    width: 30%;
    min-width: 300px;
    font-size: 21px;
    color: #1e1b2f;
    border-radius: 50px;


}

.emphatic {
    color: rgb(23, 185, 191);
    letter-spacing: 3px;


}

.speechbubblebg {

    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    animation: fadeInUp 1.5;
    -webkit-animation: fadeInUp 1.5s;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;


    width: 100%;
    padding: 20px 0;
    margin: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;


}

.speechbubbleleft {

    padding: 10px 50px;
    margin-bottom: 18px;
    background-color: rgb(185, 98, 98);
    border-radius: 20px;
    width: 100px;
    font-size: 20px;
    margin-right: 30%;


}

.skilltitle {
    padding: 10px 40px;
    text-align: center;

    border: solid 1px rgb(185, 98, 98);
    border-radius: 20px;
    width: 100px;
    height: 25px;
    font-size: 20px;
    color: white;
}

.skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;

}

.skilltag {
    background-color: #ffffff;
    border: 2px solid #4c2180;
    border-radius: 10px;
    padding: 15px 20px;
    color: rebeccapurple;
    font-weight: 900;
    font-size: 18px;
    text-align: center;
    margin: 5px;
}

.skills li {
    position: relative;
    z-index: 2;

}

.skills li::before {
    content: '+ ';

}





.edubg {
    background-color: rgb(185, 98, 98);
    color: #2a1c40;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: horizontal;

    -webkit-box-direction: normal;

    -ms-flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    flex-direction: row;


}

.timeline {
    position: relative;
    max-width: 1200px;

    margin: 0 auto;
    padding: 50px 0;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #112d79;


    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}



.timeline ul li {

    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;


    border-radius: 20px;
    background-color: white;
    width: 380px;
    height: 125px;
    margin: 0px 0;
    padding: 15px 0 0 0;
    position: relative;
    list-style: none;



}

.edu time {
    padding: 0px 0px 0px 20px;
    margin: auto;
    font-size: 18px;

}

.edu p {

    padding: 0 0px 0 50px;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}



.timeline ul li::after {
    content: '';
    position: absolute;
    top: 12%;
    left: -10%;
    bottom: 0;

    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    width: 25px;
    height: 25px;
    background-color: blueviolet;
    border-radius: 50%;
    z-index: 5;

}

.timeline ul li ::before {
    content: '';
    position: absolute;
    top: 20px;
    width: 0;
    height: 0;
    border-style: solid;
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #ffffff transparent transparent;
}





.edutitle h4 {

    padding: 10px 40px;

    border: solid 1px white;
    border-radius: 20px;
    width: 100px;
    height: 25px;
    font-size: 20px;
    color: white;
    z-index: 3;
}

.edutitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;

    padding-right: 10px;
    text-align: center;
}


.uni {
    color: rgb(23, 185, 191);

    font-weight: 900;


}

.myprocess_container {
    padding: 2% 10%;
}

.myprocess {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}

.myprocesstitle {
    padding: 10px 40px;

    border: solid 1px white;
    border-radius: 20px;
    width: 120px;
    height: 25px;
    font-size: 20px;
    color: white;
}

.myprocess ul {

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    margin: auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

}

.myprocess ul li {
    margin: 0;
    width: 50%;
    padding: 20px;
    list-style: none;


}

.even h4 {
    background-color: darkslateblue;
    color: rgb(23, 185, 191);
    text-align: center;
    padding: 10px;
    margin: 0;

}

.odd h4 {
    background-color: rgb(23, 185, 191);
    padding: 10px;
    margin: 0;
    color: darkslateblue;
    text-align: center;
}

.myprocess ul li:nth-child(odd) {

    background-color: rgb(59, 60, 60);

}

.myprocess ul li:nth-child(even) {
    background-color: rgb(36, 45, 46);

}

.myprocess p:nth-child(odd) {
    color: rgb(207, 214, 214);
    margin: 5px;


}

.myprocess p:nth-child(even) {
    color: rgb(207, 214, 214);
    margin: 5px;
}



#polling {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;


    position: relative;
    padding: 0;

}

#t-nrhub {
    width: 500px;
    height: 500px;
    background-image: url(/images/nrh.png);

    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    margin: 0;

}

#b-nrhub {

    width: 300px;
    height: 365px;
    background-image: url(/images/nrh-polls.png);

    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    z-index: 2;
    position: absolute;
    top: 23.8%;
    bottom: 0;
    left: 70%;

}

#spa {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;

    -ms-flex-item-align: start;
    align-self: flex-start;
    position: relative;
    margin: 0;
    padding-bottom: 100px;




}

#m-spa {
    width: 250px;
    height: 260px;
    background-image: url(/images/SDmobile.png);

    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    z-index: 2;
    position: absolute;
    top: 25.5%;
    bottom: 0;
    left: 70%;



}

#w-spa {
    width: 500px;
    height: 270px;
    background-image: url(/images/SDscreenshot-web.jpg);

    background-repeat: no-repeat;
    background-position: top;

    background-size: contain;
    margin: 0;


}

.proj-title {

    color: #c8c5d3;
    margin: 0px;
    padding: 20px 0px;

    border-radius: 10px 10px 0 0;
}


.button-grp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;


    padding: 10px;
    margin: 0;

}

#project-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    overflow: auto;

}

#project-list h2 {

    letter-spacing: 3px;
    font-size: 25px;
    color: white;
    margin: 0 0 20px 0;
    background: rgba(55, 33, 128, 0.53);
    border: 1px solid #999;
    /* background: linear-gradient(to top, #6600cc 0%, #4c40d8 100%); 2nd Choice*/
    padding: 10px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    border-radius: 20px;



}

.project {
    /*   background-color: #6c6a6f; 2nd choice*/
    background: rgba(76, 64, 216, 0.46);

    color: #ffffff;
    padding: 18px;
    width: 350px;
    text-align: center;

    border: 0;
    font-size: 22px;
    margin: 2px 0;




}

button.project.active,
button.project:hover {
    cursor: pointer;
    border: 2px solid #4c2180;
    background-color: #11115c;
    color: rgb(185, 98, 98);
    -webkit-transition-timing-function: ease-in-out 5s;
    transition-timing-function: ease-in-out 5s;
    overflow: hidden;
}

.project-item {

    margin: 0;
    padding: 0 10px;
    background-color: rgba(55, 33, 128, 0.53);
    color: #c8c5d3;
    width: 710px;
    margin-bottom: 0px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
    /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.inside {
    background-color: rgb(105, 98, 185);
    color: #ffffff;
    padding: 5px;
    width: 300px;
    text-align: center;
    border: none;
    outline: none;
    margin-bottom: 20px;
    font-size: 20px;
    padding: 10px;
    margin: 10px 10px;

}

.inside:hover {

    background-color: rgb(66, 62, 118);

}

footer {
    background-color: #121214;
    margin-top: 30px;
    margin-bottom: 0px;
}

div.project-item {
    display: none;
    text-align: justify;
    padding: 40px;
    -webkit-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
}

.credits {
    padding: 10px;
    font-size: 12px;
    color: grey;
}

.credits a:hover {
    color: rgb(185, 98, 98);

}

.credits a {
    color: #959292;
}




/*New portfolio section*/

.portfolio_wrapper {

    color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 20px;
    background-color: rgba(72, 61, 139, 0.51);




}

.portfolio_wrapper h1 {
    color: #c8c5d3;
}

.portfolioitems {
    background-color: transparent;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;




}



.p1,
.p3,
.p4 {
    background-color: rgba(55, 33, 128, 0.53);
    color: #c8c5d3;
    margin: 1%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-width: 400px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;


}

.p1 {
    /*    padding: 0px 20px 0 20px;*/
    width: 30%;
}

.p2 {
    padding: 0;
    width: 60%;
    color: #c8c5d3;
    margin: 1%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;


}

.p3 {
    /*    padding: 15px 20px;*/
    width: 35%;

}

.p4 {
    width: 60%;
    /*    padding-top: 20px;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

}

.itemcontent {
    padding: 20px;
    width: 500px;
}



.itemdescription {
    padding: 0 50px;
    text-align: center;
}

.between {
    background-color: transparent;
    width: 100%;
    height: 10px;
}




/* Documentaion Styles */

.intro-2 {
    background: rgba(76, 64, 216, 0.46);
    margin: 0px;
    width: auto;
    height: 500px;
}




.nrh-indepth {
    width: 700px;
    background-color: rgb(223, 221, 226);
    color: black;
    padding: 40px;
    margin-top: 10px;

}


.wframepho {
    width: 100%;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.nrh-indepth p {
    line-height: 30px;
}

.nrh-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

}

#tutorial {
    text-decoration: underline;
    cursor: pointer;
    color: black;
}


.ref {
    font-size: 20px;
    line-height: normal;
    font-style: italic;
    font-variant-caps: all-petite-caps;
    list-style: circle;
    padding: 0px 55px;

}

.appendix a {

    font-size: 24px;
}

.back {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 5px;
}

