/*
--Medium devices--
*/




/*
Tablet and Large Phones
----------------------
-------------------------------------------------------------------------------
*/

@media screen and (min-width:691px) and (max-width: 1023px){

    .container {
        height: 100%;
       width:100%;
        margin: 0;
        padding: 0;

    }



    p {
        font-size: 24px;
    }
    .light {
        font-size: 20px;
        letter-spacing: 5px;
    }

    body {

        /*        background-color: #a8c2d8;*/
        width:100%;




    }
    footer {

        padding: 0px 0 0 0px;

    }
    .logo {
        width: 195px;
        height: 70px;
    }

    #mobile-logo {
        display: none;
    }
    .top,
    .circle,
    .dropdown,
    .serviceimage,
    .staffimage {
        display: none;
    }
    
    nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
      
        flex-grow: 1;
       flex-shrink:0;
        font-size: 1em;
        margin: auto;
        
    }
    nav ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;

        flex-shrink:0;
        flex-grow: 1;
    }
    li a {
        
        width: auto;
        font-size: 12px;
        margin:0 5px;
        padding: 0;
        
        
          
    }
    
    
  
   
    #yourself {
        margin: 10px 0 0 0;
        text-align: center;
    }
    .homecontainer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        -webkit-box-orient: horizontal;

        -webkit-box-direction: normal;

        -ms-flex-direction: row;

        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        width: auto;

    }

    .client {
        
        margin-top: 50px;
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }
    .homebanner {
        max-width: 285px;
        max-height: 285px;

    }
    .title,
    .subtitle {
        font-size: 24px;
        border: none;

        margin: 0;
        line-height: 1.5em;
        width: 200px;
        height: 200px;




    }

    .subbelow1 {
        width: auto;
        margin: 0;
        padding: 0;
        font-size: 16px;
        line-height: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        
    }
    .inner2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        height: 200px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-item-align: center;
        align-self: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 0;
        margin: 0;


    }
    .inner1 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        max-width: 900px;
        margin: 0;
        height: 60em;
    }

    .inner2-col {
        -ms-flex-item-align: center;
        align-self: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 0 10px;
        margin: 0;



    }

    .let {
        font-size: 2.4em;
        margin: 30px 0;
        
    }
    .visit {
        width: 600px;
        font-size: 2.1em;
    }
    

    .container__content-blurred {

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
        margin: auto 0;
        font-size: 20px;
    
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: auto;


    }
    
    .benefits {
        width: 100%;
    
        
    }
    
    .flex-item1 {
       padding: auto;
        width: 150px;
        height:150px;

    }
    .flex-item2 {
    padding: auto;
        width: 150px;
        height:150px;
    

       
        
    }
    
    
    .staffimage,
    .serviceimage {

        margin: 0 20px 90px 20px;
    }


    #btnprivacy {
        width: 200px;
        font-size: 1.1em;
        letter-spacing: 1px;
        height: 45px;
        margin: 0 10px 10px 0;
        
    }
    .subscribe {
        
        width: 190px;
        font-size: 1.3em;
        letter-spacing: 1px;
        height: 35px;
        margin: 0 10px 10px 0;
    }

    #benefits-title {
        margin: 20px 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: 30px;
    }
    .leftfooter {
    
        width: auto;
        font-size: large;
    }
    .rightfooter {
    
        font-size: 1.5em;
        line-height: .8em;
    }


    .popup-container {

        width: 90%;
    }


    .pop-footer {
        padding-bottom: 50px;
    }
    #emailsub {
        width: 300px;
    }

    .modal-content {
        width: 80%;

    }
    /* 
-------------------------------------------------------------------------------
                                          Contact Page 
*/
    .container__content {
        height: 100%;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

    }
    .contact__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
       

    }
    p {
        font-size: 1.15em;
    }

    .in-touch {
        width: 100%;
        font-size: 14px;

    }
    .contactsbanner {
        width:auto;
        font-size: 20px;
        margin: 0;

        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

    }

    address {
    margin: 10% 0;
        width: 420px;
        height:350px;
    }
    .contact-info-container {
        width: 100%;
        height: auto;

        padding: 0 22px;
        margin:50px 0;

    }

    .contact-info {
        width: auto;
        flex-grow: 1;
        flex-shrink: 0;
        font-size: 16px;
    
    }

    #contact-form {
        width: auto;
        padding: 32px;

    }

    /* 
-------------------------------------------------------------------------------
                                          Services Page 
*/
    
    
    
    
    
    .container__content-services {
        width: 100%;
        
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
         height: 100%;
        margin: auto;
        flex-direction: column;
        flex-wrap:wrap ;
        
        
        

    }
    
    .facial-image{
    
        margin:20px;
        display: flex;
    }
    
    .massage-image {
        margin:20px;
        display: flex;
    }
    .inner-services1 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .subbelow1-service {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
       flex-direction: column;
        margin: auto;
        width:100%;
    
        
    }
        
      .inner-table {
        -ms-flex-item-align: center;
        align-self: center;
        width:auto;
            
    }   
    
        

    
    
    .subcol3,
    .subcol1 {
        display: none;
    }

    .inner-services1 p {
        font-size: 1.5em;
        margin: 1% 25%;
        width: auto;
        padding:0;
        display: flex;
    
    
        
    }
    .subcontainer-servicelist h1 {
        font-size: 3.5em;
        display: flex;
        justify-content: flex-start;
    }

    
    .subcol2-services {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        margin: auto;
        width:100%;
    
        
    
        
        
        
    }




    /* 
-------------------------------------------------------------------------------
                                          Staff Page 
*/
    .staff-photo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 350px;
        width: 500px;
       
    }
    .staff-photo h1 {

        width: 310px;
        letter-spacing: 5px;
        text-align: center;
    }





    .container__content-staff {  
      width: auto;
        
    }





    /* End */
}






/*
Tablet and Large Phones
-----------------------1030px------------------1030px--------------------------
-------------------------------------------------------------------------------


 {



    footer {
         width: 90em;
    }
    body {
        width: 90em
     
    
        
    
    }
    .container {
        width: auto;
    }
    .introduction {
        
    }

    .container__content-blurred {


        height: auto;
    
    }

    .container__content {
         width: 90em;
        height: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .container__content-staff {
        max-width: 80em;
        height: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .contact-info-container {
        width: 500px;
        padding: 0 30px;
        margin-right: 0;

    }
    .container__content-services {
        max-width: 90em;
        height: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    
    nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-self: flex-start;
         max-width: 60em
       flex-shrink: 5px;
    }
    nav ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    
         max-width: 60em;
        flex-shrink: 5px;
    }
    li a {
        width: 3.2em;
    }
    
        ------Home-------    
    .subbelow1 {
        max-width: 60em;

    }
    
    .top {
        display: none;
    }

    .popup-container {

        width: 90%;
    }


    .pop-footer {
        padding-bottom: 50px;
    }
    #emailsub {
        width: 300px;
    }

    .modal-content {
        width: 80%;

    }
    
    ------Contact-------   

    .contact-info {
        width: 500px;
    
    }

    #contact-form {
        width: 500px;
        padding:0 32px;
        
    }
    .contact-info-container {
        width: 500px;
          
        padding: 0 30px;
        margin: 0 0 90px 0;

    }
    ------Staff-------    

    .staffbanner {
        margin-top: 70px;
    }

    .staff-photo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 300px;
        width: 500px;
    
    }

    .profiles p {
        font-size: 25px;
        line-height: 1.8em;
    }




}
*/