
/*----Color Index----*/

$lightblue-color:#a8c2d8;
$footer-color:#477389;
$primary-color:#778899;
$nav-link-color:#654852;
$pink-button-color:#ffe8e6;
$hover-color:#ffe4c4;

/*----Font Index----*/

$font-title: 'Shadows Into Light Two', Arial, cursive;
$font-stack: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
