


.servicebanner {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 400px;
    height: 500px;
    border: none;

}

.room {
 background: url(/spa-delight/images/roomfilter.jpg) no-repeat center left;
    background-color: rgba(101, 72, 82, 0.42);
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
    border-top: double 10px #afd2da;
    border-bottom: double 10px #afd2da;
    border-radius: 50%;
    width: 500px;
    height: 300px;
    margin-bottom: 50px;
    margin-top: 40px;
    padding: 20px 0;
   
    
    background-size: cover;
    
}




.servicetext {
    width: 780px;
    text-align: center;
    line-height: 20px;
    font-size:24px;
    letter-spacing: 2px;
}




.servicebanner h1 {
    display: flex;
    justify-content: center;
    
}




.container__content-services {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    background-color: lightslategrey;

    


}
.subbelow1-service {
    display: flex;
    flex-direction: row;
    margin: 0;
    
}

.subbelow2 {
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
    margin: 0;
}

.subcol2-services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 54%;
    margin: 0;
    
    
}

.massage-image {
    background: url(/spa-delight/images/man.jpg) no-repeat center;
    background-color: transparent;
    width 100px;
    height: 230px;
    background-size: cover;
    color: white;
    text-shadow: 2px 1px black;
    padding:0 10px;
    
    
}

.inner-services1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    width: 400px
}

.inner-services1 p {
    padding: 0 20px;
}


.inner-table {
    border-top: solid 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
    text-align: center;
    width: 200px;
    height: 400px;
    color: black letter-spacing: 1px;
    line-height: 6px;
    font-size: 14px;
    font-style: normal;
    padding: 0 100px;
    text-transform: uppercase;
}


.pricing {
    width: 300px;
    height: 250px;
    padding: 0px 0px;
    border: 0px solid #889fb2;

    background-color: #889fb2;
    margin: 0px;
    color:#43688e;
    
   
    
    
}

.pricing h3 {
    letter-spacing: 4px;
    width: auto;
    
    padding: 20px 0px;
    font-size: 25px;
}
.card-content {
    
    padding: 0px 0px;
    width: 100%;
    height: 145px;
    background-color: #b7e8d3;
    
    
    margin: 0px;
    
    
   
}

.card-content h2 {
    line-height: 0;
    text-align: center;
}

.facial-image {
    background-image: url(/spa-delight/images/mask.jpg);
    background-repeat:no-repeat;
    background-position: center;
  background-size: cover;
    width 100px;
    height: 230px;
    background-size: cover;
    color: white;
    text-shadow: 2px 1px black;
    padding: 0 10px;
}

.service-is-center {
    display: flex;
    justify-content:center;
    font-size:80px;
    color: white;
    text-shadow: 2px 1px black;
    padding: 0 10px;
    
}

.subcontainer-servicelist {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0 4px 8px 0 #171819, 0 6px 20px 0 #171819;
    padding: 0;
    margin: 10px;
    
    
}

.subcontainer-servicelist p {
    font-size: 22px;
    line-height: 1.1em;
    text-align:left;
}

.card-title {
    padding: 10px 20px;
    width: 350px;
    height: 60px;
    text-align: center;
    font-variant-caps: all-small-caps;
    z-index: 3;
    
}

.length {
    padding: 40px 0px 0px 0px;
    height: 5px;
    z-index: 3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.price {
    
    padding: 40px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    
    
}
