
.container__content-staff {
    
    width: auto;
    background-color: lightslategrey;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 20px;
    line-height: 1.4em;
    
    
    
}

.staffbanner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 24px;
    text-align: center;
    letter-spacing: 2px;
    line-height: 20px;



}




.staff-photo {
    background: url(/spa-delight/images/slate3.jpg) no-repeat center;
    background-size: cover;
    background-color: rgba(101, 72, 82, 0.42);
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
    border-top: double 10px #afd2da;
    border-bottom: double 10px #afd2da;
    
    border-radius: 50%;
    width: 500px;
    height: 300px;
    margin-bottom: 50px;
    margin-top: 40px;
    padding: 20px 0;
    
    
   
}
.staffnames {
    font-size: 40px;
    line-height: 1px;
    letter-spacing:4px;
}
.staff-position {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
    letter-spacing: 3px;
    width: 100px;
    font-size: 18px;
    font-weight: lighter;
    line-height: 1.3em;
    
}



.subbelow__staff {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 0;
    width: 650px;
    

    


   
}
.inner__staff {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: columnn;
    flex-direction: columnn;


   
}

.staff-profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: left; 
    margin: 0;
    
    
    
}
.profiles {
    width: 654px;
    padding: 40px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: justify;
    color: #2b343c;
    

    border-top: none;
    margin-bottom: 40px;
}

.profiles p {
    font-size: 28px;
    line-height: 1.5em;

    
}


.rolita-photo {
    background: url(/spa-delight/images/Rolita.jpg) no-repeat ;
    background-size: cover;
    width: 250px;
    height:250px;
     border-radius: 0% 0% 0%;
    border: 2px solid #e0e7ed;
}



.brenda-photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-item-align: center;
    align-self: center;
    background: url(/spa-delight/images/Brenda.jpg) no-repeat;
    background-size: cover;
    width: 250px;
    height:250px;
    border: 2px solid #e0e7ed; 
    
}
.staff-table {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;

    
}
/*Table spacing and alignment*/
table {
    table-layout: fixed;
    width: 95%;
         
}
thead th {
    
    text-align: left;
    
}
tbody th {
    text-align: left;
    width: 10%;
    
    
}
tbody td {
    text-align: right;
    width:5%;
    
}
/*End Table styles*/

.inner2__staff {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    -webkit-box-orient: vertical;
    
    -webkit-box-direction: normal;
    
    -ms-flex-direction: column;
    
    flex-direction: column;
    background-color: lightslategrey;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0; 
    color: #e0e7ed;
    padding-left: 20px;
    border: 2px solid #e0e7ed;
    
    
    
   
}
.container-employee {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 50px;
    
    
    

    
    
    
}
.subbelow2__staff {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 0 0 0 0;
    width: 650px;
   
    

    
    
}

iframe {
    width: 1000px;
    height: 800px;
    
}